.tab {
    display: inline-block;
    padding: 15px;
    cursor: pointer;  
}

.tab_content {
    height: 100px;
    width: 200px;
    border: solid 1px;
}

.suka {
    border: solid 2px;
}

.hide {
    display: none;
}

.show {
    display: block;
}